.gameCharacterImageName {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameCharacterImage {
  width: 64px;
  height: 64px;
  border: 1px solid pink;
  border-radius: 50%;
}

.gameCharacterName {
  color: white;
  margin-left: 1.2em;
  font-family: "zorque";
  font-size: 1.5em;
}
