<head>
  <script
    type="text/javascript"
    src="./components/hud/name-image-container/name-image-container.js"
  ></script>
  <link
    rel="stylesheet"
    href="./components/hud/name-image-container/name-image-container.css"
  />
</head>
<body>
  <div class="gameCharacterImageName">
    <img
      id="characterImage"
      class="gameCharacterImage"
      src="../assets/images/question.png"
    />
    <p id="characterName" class="gameCharacterName">{{ Name }}</p>
  </div>
  <div class="gameTurnIndicator">
    <p class="gameTurnIndicatorText">Aktionen:</p>
    <p class="gameTurnIndicatorText" id="gameTurnIndicatorText">
      <!--Inject Turn Count-->
    </p>
  </div>
  <div class="gameMoney">
    <img class="gameResourceImage" src="../assets/images/money.png" />
    <p id="gameMoney" class="gameMoneyText">1500€</p>
  </div>
</body>
