<head>
  <link
    rel="stylesheet"
    href="./components/modals/sell-item-modal/sell-item-modal.css"
  />
  <script
    type="text/javascript"
    src="./components/modals/sell-item-modal/sell-item-modal.js"
  ></script>
</head>
<body>
  <div id="sellItemModalClose" class="sellItemModalClose">X</div>
  <div class="sellItemModalContainer">
    <p id="sellItemModalItemTitle" class="sellItemModalText bold">
      <!--Inject remove item Title-->
    </p>
    <p id="sellItemModalItemDesc" class="sellItemModalText">
      <!--Inject remove item description-->
    </p>
    <button id="sellItemAcceptButton" class="sellItemAccepttButton">
      Diese Aktion ausführen
    </button>
  </div>
</body>
