.decisionTreeModalClose {
  right: 0;
  font-size: 3em;
  color: white;
  padding: 25px;
  cursor: pointer;
  position: absolute;
}

.decisionTreeModalContainer {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}
