/** defining global styles **/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  overflow: hidden;

  user-select: none;
}

#main {
  /* background-color: skyblue; */
  height: 100%;
  background: url("/assets/scenes/landscape.jpg") no-repeat center center fixed;

  background-size: cover;
}

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}

@media only screen and (max-width: 991px) {
  #main {
    zoom: 2;
  }
}

@font-face {
  font-family: "ArcadeClassic";
  src: url("/assets/fonts/arcadeclassic.ttf");
}

@font-face {
  font-family: "zorque";
  src: url("/assets/fonts/zorque.ttf");
}
