.actionContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #696969;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 15px 16px 17px -5px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.actionImage {
  width: 96px;
  height: 96px;
}

.actionLabel {
  color: white;
}

.actionName {
  color: white;
}

.actionCost {
  color: white;
}

.actionContainerOverlay {
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actionCostContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actionContainerOverlay:hover {
  animation: fade-in-item 0.5s forwards;
}

@keyframes fade-in-item {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  .actionContainer {
    flex-direction: column;
    border: 1px solid #696969;
    border-radius: 10px;
  }
}
