<head>
  <link rel="stylesheet" href="./components/hud/action-item/action-item.css" />
</head>
<body>
  <div id="actionContainer" class="actionContainer">
    <img
      id="actionImage"
      class="actionImage"
      src="../assets/images/icons/mockup.png"
      alt=""
    />
    <p id="actionName" class="actionName">Action Name</p>
    <p id="actionDesc" class="actionName"></p>
    <div class="actionCostContainer">
      <span class="actionLabel">Kosten: </span>
      <p id="actionCost" class="actionCost">asd</p>
    </div>
  </div>
</body>
