<head>
  <link rel="stylesheet" href="./components/hud/action-item/action-item.css" />
</head>
<body>
  <div id="actionContainer" class="actionContainer">
    <img
      id="actionImage"
      class="actionImage"
      src="../assets/images/icons/mockup.png"
      alt=""
    />
    <p id="actionName" class="actionName">Action Name</p>
    <p id="actionDesc" class="actionName"></p>

    <div class="actionContainerOverlay">
      <div class="actionCostContainer">
        <img src="../assets/images/money.png" alt="" />
        <!-- <span class="actionLabel">Kosten: </span> -->
        <p id="actionCost" class="actionCost"><!--Inject action cost--></p>
      </div>
      <div class="actionCostContainer">
        <img id="actionResourceImg" src="../assets/images/hunger.png" alt="">
        <p class="actionCost">↑</p>
      <!-- <span id="actionLabelResource" class="actionCost" -->
      <!-- >Inject Resource Label</span -->
      <!-- > -->
      <!-- <p id="actionResourceCost" class="actionCost"> -->
      <!--Inject resource value-->
      <!-- </p> -->
      <!-- </div> -->
    </div>
  </div>
</body>
