<head>
  <link
    rel="stylesheet"
    href="./components/modals/area-choice-modal/area-choice-modal.css"
  />

  <script
    type="text/javascript"
    src="./components/modals/area-choice-modal/area-choice-modal.js"
  ></script>
</head>
<body>
  <div
    class="areaChoiceClose"
    style="float: right; font-size: 3em; color: white; padding: 25px;"
  >
    X
  </div>
  <div class="areaChoiceGrid">
    <div id="areaChoiceItem0" class="areaChoiceItem">
      <!-- Inject area-choice-item.html -->
    </div>
    <div id="areaChoiceItem1" class="areaChoiceItem">
      <!-- Inject area-choice-item.html -->
    </div>
    <div id="areaChoiceItem2" class="areaChoiceItem">
      <!-- Inject area-choice-item.html -->
    </div>
    <div id="areaChoiceItem3" class="areaChoiceItem">
      <!-- Inject area-choice-item.html -->
    </div>
    <div id="areaChoiceItem4" class="areaChoiceItem">
      <!-- Inject area-choice-item.html -->
    </div>
  </div>
</body>
