.areaChoiceGrid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 384px 384px;
  grid-template-rows: 216px 216px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 648px;
  /* border-radius: 10px; */
}

.areaChoiceItem {
  border: 1px solid #fff;

  /* font-size: 30px; */
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .areaChoiceGrid {
    grid-template-columns: 192px 192px;
    grid-template-rows: 108px 108px;
  }
}
