#characterSelectionPageFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.characterSlideFlexContainer {
  width: 100%;
  flex: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexchildCharacter {
  flex: 1;
}

#chooseCharacterCaption {
  flex: 3;
  font-family: "ArcadeClassic";
}

#characterSelectionLaunchButton {
  flex: 2;
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 15px;
  font-family: "ArcadeClassic";
  color: #f47a42;
  font-size: 5em;
  border-radius: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#characterSelectionLaunchButton:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #f7560c;
}
