<head>
  <link
    rel="stylesheet"
    href="./components/character-slide/character-slide.css"
  />
</head>

<body>
  <div id="characterSlideContainer" class="characterSlideContainer">
    <div class="characterSlideTop">
      <img
        id="characterSlideCharacterImage"
        class="characterSlideImage"
        src=""
      />
      <p id="characterSlideName" class="characterSlideText">
        <!--Inject Character name-->
      </p>
    </div>
    <div class="characterSlideCenter">
      <img class="characterSlideImageSmall" src="../assets/images/money.png" />
      <p id="characterSlideMoney" class="characterSlideTextSmall">35</p>
    </div>
    <div class="characterSlideBottom">
      <div id="characterSlideHungerResource" class="characterSlideResource">
        <!--Inject Hunger ResourceBar-->
      </div>
      <div id="characterSlideLifeResource" class="characterSlideResource">
        <!--Inject Life ResourceBar-->
      </div>
      <div id="characterSlideLearnResource" class="characterSlideResource">
        <!-- Inject Learn Resource Bar -->
      </div>
    </div>
  </div>
</body>
