<head>
  <script src="resource-bar.js"></script>
  <link
    rel="stylesheet"
    href="./components/character-slide/character-slide.css"
  />
</head>
<body>
  <div id="characterSlide" class="characterSlide">
    <img id="characterSelectionImage" src="../assets/images/icons/mockup.png" />
    <h1 id="name" class="characterSelectionName"><!-- inject name --></h1>
    <div id="test"></div>
    <div class="characterSelectionMoney">
      <img class="characterSelectionResourceImage" src="../assets/resources/money.png" alt="">
    <p id="money" class="characterStartAttribute">
      Geld:
      <!-- inject starting money -->
    </p>
  </div>
    <div class="characterSelectionResourceDiv hunger">
      <img
        class="characterSelectionResourceImage "
        src="../assets/resources/hunger.png"
        alt=""
      />
      <div id="characterSelectionHungerProgress" class="characterSelectionHungerProgress">
      <p id="hunger" class="characterStartAttribute">
        <!-- inject starting hunger -->
      </div>
      </p>
    </div>
    <div class="characterSelectionResourceDiv life">
      <img
        class="characterSelectionResourceImage"
        src="../assets/resources/life.png"
        alt=""
      />
      <div class=""></div>
      <p id="life" class="characterStartAttribute">
        Lebensfreude:
        <!-- inject starting life -->
      </p>
    </div>
    <div class="characterSelectionResourceDiv learn">
      <img
        class="characterSelectionResourceImage"
        src="../assets/resources/learn.png"
        alt=""
      />
      <p id="learn" class="characterStartAttribute">
        <!-- inject starting learn level -->
      </p>
    </div>
    <p id="characterSelectionDescription" class="characterSelectionDescription">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </p>
  </div>
</body>
