.resourceBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 2, 18, 0.5);
  padding: 10px;
  border-radius: 10px;
  height: 70px;
  margin: 2.5px;
  box-shadow: 15px 16px 17px -5px rgba(0, 0, 0, 0.75);
  position: relative;
}

.resourceIcon {
  flex: 3;
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  border: 2px solid pink;
  background-color: rgba(0, 0, 0, 0);
}

.numbersBar {
  width: 350px;
  height: 20px;
  margin-left: 5px;
  background-image: linear-gradient(#68020a, #ce0212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.progress {
  height: 18px;
  border-radius: 5px;
  position: absolute;
  width: 0%;
  justify-content: flex-start;
  box-shadow: inset 0 0 15px black;
}

.resourceBarText {
  color: white;
  font-weight: bold;
  text-align: center;
  z-index: 500;
  font-family: ArcadeClassic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media only screen and (max-width: 991px) {
  .numbersBar {
    width: 50px;
  }

  .resourceIcon {
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
  }
}
