.inventoryItemImage {
  width: 70px;
  height: 50px;
  position: absolute;
}

.inventoryGridItem {
  background-color: transparent;
  height: 50px;
  /* border: 1px solid #696969; */
  position: relative;
  cursor: pointer;
}

.inventoryItemImage {
  width: 70px;
  height: 50px;
}

.inventoryTooltip {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.inventoryTooltip .inventoryTooltipText {
  visibility: hidden;
  width: auto;
  background-color: #ffffdb;
  color: black;
  text-align: justify;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  width: 240;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

.inventoryTooltip:hover .inventoryTooltipText {
  visibility: visible;
}
