<head>
  <link rel="stylesheet" href="./components/hud/inventory/inventory.css" />
  <script
    type="text/javascript"
    src="./components/hud/inventory/inventory.js"
  ></script>
</head>
<body>
  <div class="inventoryFlexContainer">
    <div class="inventoryHeading">
      <p></p>
      <p>Rucksack</p>
      <p id="inventoryCloseButton" class="inventoryCloseButton">X</p>
    </div>
    <div class="inventoryGrid">
      <div class="inventoryGridItem">
        <div class="inventoryItemTooltip">
          <span class="inventoryItemTooltipText">Tooltip text</span>
          <!-- <img
            class="inventoryItemImage"
            src="../assets/images/icons/mockup.png"
            alt=""
          /> -->
        </div>
      </div>
      <div class="inventoryGridItem"></div>
      <div class="inventoryGridItem"></div>
      <div class="inventoryGridItem"></div>
      <div class="inventoryGridItem"></div>
      <div class="inventoryGridItem"></div>
      <div class="inventoryGridItem"></div>
    </div>
  </div>
</body>
