<head>
  <link rel="stylesheet" href="./components/hud/inventory/inventory.css" />
  <script
    type="text/javascript"
    src="./components/hud/inventory/inventory-item/inventory-item.js"
  ></script>
  <script
    type="text/javascript"
    src="./components/hud/hover-item/hover-item.js"
  ></script>
</head>
<body>
  <div class="inventoryFlexContainer">
    <div class="inventoryHeading">
      <p></p>
      <p>Rucksack</p>
      <p id="inventoryCloseButton" class="inventoryCloseButton">X</p>
    </div>

    <div id="inventoryGrid" class="inventoryGrid"><!--Inject Grid--></div>
  </div>
  <script
    type="text/javascript"
    src="./components/hud/inventory/inventory.js"
  ></script>
</body>
