.inventoryFlexContainer {
  width: 100%;
  height: 100%;
  background-color: #999999;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=#696969ff&noise=7d7d7d&density=65&opacity=44);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventoryHeading {
  font-family: ArcadeClassic;
  color: black;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inventoryCloseButton {
  float: right;
  cursor: pointer;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-gap: 5px;
  grid-row-gap: 5px;
  box-shadow: inset 0 0 15px black;
  padding: 5px;
}

.inventoryTooltip:hover .inventoryTooltipText {
  visibility: visible;
}
