.inventoryFlexContainer {
  width: 100%;
  height: 100%;
  background-color: #999999;
  background: url("/assets/images/inventory-background.png");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inventoryHeading {
  font-family: ArcadeClassic;
  color: black;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inventoryCloseButton {
  float: right;
  cursor: pointer;
  padding: 5px;
}

.inventoryGrid {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-gap: 5px;
  grid-row-gap: 5px;
  box-shadow: inset 0 0 15px black;
  padding: 5px;
}
