<head>
  <link
    rel="stylesheet"
    href="./components/modals/action-confirmation-modal/action-confirmation-modal.css"
  />
  <script
    type="text/javascript"
    src="./components/modals/action-confirmation-modal/action-confirmation-modal.js"
  ></script>
</head>
<body>
  <div id="actionConfirmationClose" class="actionConfirmationClose">X</div>
  <div class="actionConfirmationContainer">
    <img
      class="actionConfirmationImage"
      src="../assets/images/icons/mockup.png"
      alt=""
    />
    <h1 class="actionConfirmationText">Lorem Ipsum 1</h1>
    <h4 class="actionConfirmationText actionConfirmationTextDesc">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
      diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
      sit amet.
    </h2>
    <div><p class="actionConfirmationText ">Kosten: 800</p></div>
    <div><p class="actionConfirmationText ">Bringt: 50 Hunger</p></div>
    Belohnung:
    <img
      class="actionConfirmationRewardImg"
      src="../assets/images/icons/mockup.png"
      alt=""
    />
    <button class="acceptButton" id="acceptButton">MACHEN</button>
  </div>
</body>
