<head>
  <link
    rel="stylesheet"
    href="./components/modals/action-confirmation-modal/action-confirmation-modal.css"
  />
  <script
    type="text/javascript"
    src="./components/modals/action-confirmation-modal/action-confirmation-modal.js"
  ></script>
</head>
<body>
  <div id="actionConfirmationClose" class="actionConfirmationClose">X</div>
  <div class="actionConfirmationContainer">
    <div class="actionConfirmationImageContainer">
    <img
    id="actionConfirmationImage"
      class="actionConfirmationImage"
      src="../assets/images/icons/mockup.png"
      
    />
  </div>
    <h1 id="actionConfirmationActionName" class="actionConfirmationText">
      <!--Inject Action Name-->
    </h1>
    <h4 id="actionConfirmationActionDesc" class="actionConfirmationText actionConfirmationTextDesc">
      <!-- Inject Action Description -->
    </h2>
    <div class="actionConfirmationValueContainer">
      <img src="../assets/images/money.png" >
      <p id="actionConfirmationCost" class="actionConfirmationText actionConfirmationBigMarginText">
        <!--Inject Action Cost-->
      </p>
    </div>
    <div class="actionConfirmationValueContainer">
      <img id="actionConfirmationResourceImg" src="../assets/images/hunger.png" >
      <p id="actionConfirmationResourceType" class="actionConfirmationText actionConfirmationBigMarginText">↑</p>
    </div>
    <div id="actionConfirmationValueContainer" class="actionConfirmationValueContainer">
      <p class="actionConfirmationText">Belohnung (Gegenstand): </p>
      <!--Inject item Hover-->
      <div class="actionConfirmationItemTooltip">
        <span id="actionConfirmationItemTooltipText" class="actionConfirmationItemTooltipText"
          ><!--Inject hover-item.html--></span
        >
      </div>
        <img
        id="actionConfirmationRewardImg"
        class="actionConfirmationRewardImg"
        src="../assets/images/icons/mockup.png"
        
      />
    </div>
    
    
    <button class="actionConfirmationAcceptButton" id="actionConfirmationAcceptButton">Diese Aktion ausführen</button>
  </div>
</body>
