.actionConfirmationClose {
  right: 0;
  font-size: 3em;
  color: white;
  padding: 25px;
  cursor: pointer;
  position: absolute;
}

.actionConfirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
  /* margin-bottom: 80px; */
}

.actionConfirmationText {
  color: white;
}

.actionConfirmationBigMarginText {
  margin-left: 25px;
  font-size: 1.5em;
}

.actionConfirmationTextDesc {
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

.actionConfirmationValueContainer {
  display: flex;
  position: relative;
  flex-direction: row;
}

.actionConfirmationContainer {
}

.actionConfirmationImageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.actionConfirmationImage {
  object-fit: contain;
  min-width: 64px;
  height: 64px;
}

.actionConfirmationItemTooltip {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.actionConfirmationItemTooltip .actionConfirmationItemTooltipText {
  visibility: hidden;
  width: auto;
  background-color: #ffffdb;
  color: black;
  text-align: justify;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
  z-index: 999;
  width: 240;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
}

.actionConfirmationItemTooltip:hover .actionConfirmationItemTooltipText {
  visibility: visible;
}

.actionConfirmationRewardImg {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.actionConfirmationAcceptButton {
  margin-top: 50px;
  width: 250px;
  height: 50px;
}

@media only screen and (max-width: 991px) {
  .actionConfirmationImage {
    max-width: 30%;
    max-height: 30%;
  }
  .actionConfirmationTextDesc {
    margin-left: 15px;
    margin-right: 15px;
  }
}
